# Ignore node_modules directory
node_modules/

# Ignore build directory
/build/

# Ignore log files
*.log

# Ignore .vs directory (Visual Studio settings)
.vs/

# Ignore bin and obj directories
bin/
obj/